.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em 1.2em;
	margin-bottom: 2em;
	background-color: #333;
	color: #fff;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo h1 {
	margin: 0.5em;
}

.link_itens {
	display: flex;
	list-style: none;
}

.link_itens li {
	margin-right: 1.3em;
}

.link_itens a {
	color: #fff;
	text-decoration: none;
	padding: 5px;
	transition: 0.4s;
	border-bottom: 2px solid transparent;
}

.link_itens a:hover {
	border-color: #fff;
}
